
@{
    ViewBag.Title = "DeleteResult";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    @section content {
        <h2>Документ оновлено!</h2>
    }
</body>
</html>
