
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OneNineProject/LoginPage</title>
</head>
<body>
    <div> 
        <h2><a href="~/Home/MainPage">Перейти на главную страницу &raquo;</a></h2>
        </div>
</body>
</html>
